.aboutHeader {
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  margin: 75px 0px;
}

.aboutText {
  line-height: 50px;
  font-size: 1.55rem;
  margin: 25px;
}

.profPic {
  height: auto;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.profText {
  line-height: 50px;
  font-size: 1.25rem;
  margin: 25px;
}

.aboutContainer {
  display: flex;
}

.aboutImg {
  border: 3px solid #770000;
  box-shadow: 3px 3px 15px black;
}
